* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  list-style: none;
  text-decoration: none;
}

:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
  --light-grey: #dce4e3;
  --text-color: #084236;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 15.625rem;
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.625rem 0.875rem 1.625rem 1.813rem;
}

.sidebar .sidebar-header button {
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.sidebar .sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.188rem;
}

.sidebar .sidebar-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: var(--Light-green, #8ed7c6);
  padding: 0.875rem;
  margin: 0.875rem;
}

.sidebar .sidebar-input:hover {
  background-color: var(--light-grey);
  transition: 0.2s;
}

.sidebar .sidebar-icon-search {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.813rem;
  cursor: pointer;
}

.sidebar .sidebar-input input {
  background-color: transparent;
  font-size: 0.938rem;
  font-weight: 400;

  border: 0;
  outline: none;
  overflow: hidden;
}

.sidebar .sidebar-input input::placeholder {
  color: var(--text-color);
  text-transform: capitalize;
}

.sidebar .sidebar-wrapper a {
  padding-inline: 1.688rem;
  display: flex;
  align-items: center;
  gap: 0.813rem;
}

ul li:nth-child(2) {
  margin-top: -3.063rem;
  padding-top: 1.25rem;
}

.sidebar .sidebar-wrapper a .sidebar-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.sidebar .sidebar-wrapper a .sidebar-text {
  color: var(--text-color);
  font-size: 0.938rem;
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer;
}

.sidebar .sidebar-wrapper a .sidebar-text:hover {
  color: white;
  text-decoration: underline;
  transition: 0.2s;
}

.footer-sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.875rem;
  padding-block: 0.438rem;
  background-color: var(--light-green);
}

.sidebar-user {
  line-height: 0.938rem;
}

.footer-sidebar .sidebar-user-information {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.563rem;
}

.footer-sidebar .sidebar-profile {
  width: 2.813rem;
  height: 2.813rem;
  object-position: -3px 0;
  border-radius: 8px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  object-fit: cover;
}

.footer-sidebar .sidebar-user .sidebar-username {
  color: var(--text-color);
  font-size: 0.938rem;
  font-weight: 400;
  text-transform: capitalize;
}

.footer-sidebar .sidebar-user .sidebar-function {
  color: var(--text-color);
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: capitalize;
}

.footer-sidebar .sidebar-logoout {
  cursor: pointer;
}

#main {
  width: 100vw;
  height: 100vh;
  padding: 1.125rem;
  background-color: var(--body-bg-color);
}

#main h1 {
  color: var(--text-color);
  font-size: 1.563rem;
  font-weight: 500;
}

.sidebar-closed {
  width: 4.875rem;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all ease 0.5s;
}

.sidebar-closed .sidebar-logo,
.sidebar-closed .sidebar-text,
.sidebar-closed .sidebar-input input,
.sidebar-closed .sidebar-user-information {
  display: none;
}

.sidebar-closed .sidebar-icon-search {
  margin-right: 0;
}

.sidebar-closed .footer-sidebar {
  justify-content: center;
  padding-block: 1.125rem;
}
